@import "tailwindcss";

@font-face {
  font-family: "Racing Sans One";
  src:
    local("Racing Sans One"),
    url("/fonts/RacingSansOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@theme inline {
  /* Colors */
  --color-bright-gray: #EAEAEA;
  --color-gray: #E9E9E9;
  --color-violet: #5E2E53;
  --color-lavender-magenta: #E1A1E9;
  --color-black: #000000;
  --color-silver: #C4C4C4;
  --color-logo-purple: #913693;
  --color-logo-pink: #E856EB;
  --color-logo-stroke: #431567;
  --color-white: #ffffff;

  /* Background / Foregrounds */
  --color-primary-background: var(--color-violet); /* Background */
  --color-primary-foreground: var(--color-white); /* Text */
  --color-secondary-background: var(--color-lavender-magenta); /* Background */
  --color-secondary-foreground: var(--color-black); /* Text */
  
  /* more specific */
  --color-navigation-background: var(--color-gray); /* Background */
  --color-search-background: --alpha(var(--color-silver) / 30%); /* Background */
  --color-activity-card-textarea: --alpha(var(--color-lavender-magenta) / 80%); /* Background */
  --color-button-text: var(--color-gray); /* Text */
  --color-primary-heading: var(--color-bright-gray); /* Text */
  --color-input-background: var(--color-bright-gray); /* Background */

  /* Fonts */
  --font-roboto: Roboto, system-ui;
  --font-ubuntu: Ubuntu, system-ui;
  --font-racing-sans: "Racing Sans One", system-ui;

  /* Border-Radius */
  --radius-button: 10px;
  --radius-calender-items: 11px;
  --radius-activity-card: 39px 39px 0 39px;
  --radius-activity-card-textarea: 0 39px 0 39px;
}

/* https://cixel.com.au/blog/tailwind-css-v4-functional-utilities */
@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer)px;
  -webkit-text-stroke-width: --value([*]);
  -webkit-text-stroke-color: --value(--color-*, [color]);
  -webkit-text-stroke-color: --modifier(--color-*, [color]);
}

/* --------------------------------------------------------- */

@layer components {
  .wrapper {
    @apply flex flex-col min-h-screen bg-cover bg-center bg-no-repeat;
    background-image: url('/images/splash-image.jpg');
  }

  .wrapper--shadow::before {
    @apply absolute inset-0 bg-cover bg-center bg-no-repeat;
    content: '';
    background-image: url('/images/shadow-box.svg');
    width: 100%;
    height: 100%;
  }
}

html{
  color: var(--color-primary-foreground);
}

body{
  background-color: var(--color-primary-background);
}