@import "tailwindcss";

@font-face {
  font-family: "Racing Sans One";
  src:
    local("Racing Sans One"),
    url("/fonts/RacingSansOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@theme inline {
  /* Colors */
  --color-bright-gray: #EAEAEA;
  --color-gray: #E9E9E9;
  --color-violet: #5E2E53;
  --color-lavender-magenta: #E1A1E9;
  --color-black: #000000;
  --color-silver: #C4C4C4;

  /* Background / Foregrounds */
  --color-primary-background: var(--color-violet);
  --color-primary-foreground: var(--color-bright-gray);
  --color-secondary-background: var(--color-lavender-magenta);
  --color-secondary-foreground: var(--color-black);
  --color-navigation-background: var(--color-gray);
  --color-search-background: --alpha(var(--color-silver) / 30%);
  --color-activity-card-textarea: --alpha(var(--color-lavender-magenta) / 40%);

  /* Fonts */
  --font-roboto: Roboto, system-ui;
  --font-ubuntu: Ubuntu, system-ui;
  --font-racing-sans: "Racing Sans One", system-ui;

  /* Border-Radius */
  --radius-button: 10px;
  --radius-calender-items: 11px;
  --radius-activity-card: 39px 39px 0 39px;
  --radius-activity-card-textarea: 0 39px 0 39px;
}

body {

}
